<img src={{{banner}}} alt="banner" />

🕰️ {{date}}

{{name}} working as a Front End Engineer @{{company}} 
 
 <h3> Blog post listings </h3>

 <ul>
  {{#blog}}
    <li id="{{id}}"> 
    <a href={{url}}> {{title}}  </a> 
    <p> Reaction Count : {{ reaction_count }} </p>
    </li>
  {{/blog}}
</ul>

<h4> Tools : </h4>
<p>
  <img alt="React" src="https://img.shields.io/badge/-React-45b8d8?style=flat-square&logo=react&logoColor=white" />
  <img alt="Webpack" src="https://img.shields.io/badge/-Webpack-8DD6F9?style=flat-square&logo=webpack&logoColor=white" /> 
  <img alt="github actions" src="https://img.shields.io/badge/-Github_Actions-2088FF?style=flat-square&logo=github-actions&logoColor=white" />
  <img src="https://img.shields.io/badge/Redux-593D88?style=for-the-badge&logo=redux&logoColor=white" alt="redux"/>
  <img alt="django" src="https://img.shields.io/badge/jQuery-0769AD?style=for-the-badge&logo=jquery&logoColor=white"/>
  <img src="https://img.shields.io/badge/Tailwind_CSS-38B2AC?style=for-the-badge&logo=tailwind-css&logoColor=white" alt="tailwind"/>
</p>